/* Палітра https://colorscheme.ru/#0v21Tw0vfw0w0 */

/* Шрифт */
@import url("https://fonts.googleapis.com/css?family=Raleway");
html,
h1,h2,h3,h4,h5,h6,a {
    font-family: "Raleway";
}


body {
    height: 100%;
    width: 100%;
    background-color: #EDEDE5;
}

/* ШАПКА */
.headnav {
    background-color: #f97400f6	;
}
.nabvar-brand img {
    width: 150px;
}
.navbar-nav li {
    padding-right: 25px;
}
.navbar-nav li a {
    color: #F7F9F8;
}
.navbar-nav a:hover {
    background-color: #F7F9F8;
    color: #F97300	;
}
header .navbar-toggler {
    background-color: #EDEDE5;
}
header .tagglericon {
    color: #F97300;
}
header .tagglericon:active {
    color: #019097;
}

/*  Слайдер фотографій */
.carousel-inner {
    height: 500px;
}

    .carousel-inner img {
        height: 100%;
    }

@media (min-width: 1100px) {
    .carousel-inner img {
        width: 100%;
    }
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    text-shadow: 1px 1px 10px #000;
}

@media (max-width: 450px) {
    .carousel-caption .display-2 {
        font-size: 3em;
    }
}

#slides ul li {
    color: #F97300;
}


/* Про нас */
.about {
    margin: 2em 0;
    padding: 2em;
    position: relative;
    background-color: #F97300;
}
.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about .desk {
    padding: 2em;
    border-left: 2px solid #019097;
}
.about .desk p{
    color:rgb(0, 0, 0);
}
.about .desk h2 {
    font-weight: lighter;
    color: #F7F9F8;
}


/* Команда */
.team {
    margin-top: 6em;
    margin-bottom: 6em;
    /* margin-bottom: auto; */
    position: relative;  
}
.team h1 {
    color:#F97300;
    margin-top: 2em;
    margin-bottom: 1em; 
}
.team .item {
    position: relative;
}
.team .des {
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 55%;
    transition:.3s ease-in-out;
}

    /* Анімація при наведені */
    .team .item:hover .des {
        /* height: 100%; */
        background:#f9740094;
        position: absolute;
        width: auto;
        padding: 5em;
        top: 0;
        border-bottom-left-radius: 0;
    }


/* Контактна форма */
.contact-form {
    margin: 3em 0;
    position: relative;
    background: #F97300;
}
.contact-form h1 {
    padding:2em 1px;
    color: #F7F9F8; 
}
/* @media */
.contact-form .right {
    max-width: 600px;
    margin: 3em 0;
    /* margin-left: 10em; */
}
.contact-form .right .btn-secondary {
    background:  #019097;
    color: #fff;
    border:0;
}
.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

/* Блог КАРТОЧКИ */
.blog {
    /* margin: 4em 0; */
    margin-bottom: 4em;
    position: relative; 
}
.blog h1 {
    color:#F97300;
    margin-top: 2em;
    margin-bottom: 1em; 
}
.blog .card {
    box-shadow: 0 0 20px #ccc;
}
.blog .card img {
    width: 100%;
    height: 12em;
}
.blog .card-title {
    color:#F97300;     
}
.blog .card-body {
    padding: 1em;
}
.blog .card-link {
    color: #019096;
}
.blog .card-link:hover {
    color: #F97300;
}
.newsblock {
    border-top: 1px solid #FC963F;
    padding-top: 1em
}